
<div class="card-container d-flex flex-grow-1 my-3 shadow" style="max-width: 600px; border-radius: 10px; background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 60%), url('https://source.unsplash.com/random/?horse/300/200'); background-size: fit; background-position: center;">
  <div class="d-flex shadow flex-column justify-content-between p-2  w-100" style="border-radius: 10px; height: 80vh;">
    <p></p>
    <div class="d-flex flex-column px-2" style="color: #AAAAAA; border-radius: 10px;">

      <div class="d-flex justify-content-between align-items-start text-white w-100">
        <% if club.name.length > 30 %>
          <h4 style="max-width: 74%;"><%= club.name %></h4>
        <% else %>
          <h2 style="max-width: 74%;"><%= club.name %></h2>
        <% end %>
        <%# <div class="btn btn-info d-block d-sm-none" style="border-radius: 30px">i</div> %>
        <div class="btn btn-info py-0 px-1" style="border-radius: 30px"><span class='small'><i class="fas fa-eye small"></i>Détails</span></div>
      </div>

      <%= club.distance_from(session[:coords])%>
      <div class="d-flex flex-wrap gap-2 text-dark align-items-center small">
        <% club.activities&.first(3)&.each do |activity| %>
          <div class="btn btn-outline-info pill"><%= activity.name %></div>
        <% end %>
        <% if club.activities.count > 3 %>
        <div class="text-info">et <%= club.activities.count - 3 %> autres...</div>
        <% end %>
      </div>

      <div class="d-flex justify-content-between small pt-2">
        <p>
          <%= link_to "https://www.google.fr/maps/place/#{club.address.gsub(' ', '+')},+#{club.actual_zipcode}", target: "_blank", class:"text-info" do %>
            <i class="fas fa-map-marker-alt"></i> <%= club.address %>
          <% end %>
        </p>
        <p><%= club.actual_zipcode %></p>
      </div>

      <% if club.objet.length > 300 %>
        <p class="small text-light"><%= club.objet[0..296] %>…<span class="voir-plus">voir plus</span></p>
      <% else %>
        <p class="small text-light"><%= club.objet %></p>
      <% end %>

    </div>
  </div>
</div>
