<div class="row justify-content-center">
  <div class="col-md-6 p-3">
    <!-- For images, you might want to handle them separately, especially if it's an array of images -->
    <div class="d-flex justify-content-between w-100">
      <%= link_to 'Retour', :back, class: 'btn btn-dark' %>
      <%= link_to 'Aperçu', club_path(@club), class: 'btn btn-dark' %>
    </div>
    <%= simple_form_for(@club, method: :put) do |f| %>

      <% if @club.photos.attached? %>
        <label>Current Image</label>
        <div class="form-group position-relative">
          <%= image_tag(cl_image_path(@club.photos.first.key), class: "img-fluid", style: "height: 300px; width: 200px; border-radius: 10px; object-fit: cover;") %>
        </div>
      <% end %>
      <%= f.input  :photos, as: :file, multiple: false, label: "Chargez une nouvelle image si vous souhaitez remplacer l'actuelle" %>

      <small>Logo</small>
      <div class="d-flex align-items-center gap-3 border-bottom border-top">
        <% if @club.logo.attached? %>
          <div class="form-group position-relative">
            <%= cl_image_tag(@club.logo.key, class: "rounded-circle", width: 80, height: 80, radius: "max") %>
          </div>
        <% end %>
      <%= f.input  :logo, as: :file, label: "Chargez une nouveau logo si vous souhaitez remplacer l'actuel" %>
      </div>
      <%= f.input :name, label: "Nom" %>
      <%= f.input :website, label: "Site web" %>
      <%= f.input :objet, as: :text, label: "Description" %>
      <%= f.input :structure_type, collection: Club.structure_types.keys, include_blank: false, label: 'Type de structure' %>
      <%= f.input :phone_number, label: 'Numéro de téléphone' %>
      <%= f.input :adherence_fee, label: "Frais d'adhésion (€)" %>
      <%= f.input :competitive, label: "Cochez si votre club propose de la compétition", as: :boolean %>
      <div data-controller="toggle">
        <%= f.input :inscription_open_all_year, label: "Cochez si les inscriptions sont possibles toute l'année",
            input_html: {
              'data-action': 'change->toggle#toggle',
              'data-toggle-target': 'checkbox'
            } %>
        <div data-toggle-target="toggleable" class="<%= 'd-none' unless @club.inscription_open_all_year %>">
          <%= f.input :inscription_start_date, label: "Période de début d'inscription" %>
          <%= f.input :inscription_end_date, label: "Période de fin d'inscription" %>
        </div>
      </div>

       <div class="row" data-controller="places" data-action="google-maps-callback@window->places#initMap">
        <div class="d-flex flex-column">
          <div data-places-target="map" style="width: 100%; height: 200px" class="rounded-lg"></div>
          <%# turn off autocomplete to hide suggestions from browser that overwrite google places %>
          <input autocomplete="false" name="hidden" type="text" style="display:none;">
          <%= f.input :address, label: "Adresse", required: true, input_html: { autofocus: !%w[create update].include?(params[:action]), data: { "places-target": "field", action: "keydown->places#keydown" } } %>
          <%= f.input :actual_zipcode, hint: 'Ce champ se remplira tout seul', label: "Code postal", required: true, input_html: { readonly: true,  data: { "places-target": "zipcode" } }  %>
          <%= f.input :geo_point, hint: 'Ce champ se remplira tout seul', required: true, input_html: { readonly: true, data: { "places-target": "geoPoint" } }   %>
          <%= f.input :city, hint: 'Ce champ se remplira tout seul', required: true, input_html: { readonly: true, data: { "places-target": "city" } }   %>
        </div>
      </div>

      <div class="d-flex justify-content-center w-100">
        <%= f.button :submit, "Enregistrer les modifications", class: "btn btn-dark mt-3 w-50" %>
      </div>
    <% end %>

    <div class="mt-3">
    <h1>Modifier les activités du club</h1>
    <% @club.activities.each do |activity| %>
      <%= link_to activity.name, edit_activity_path(activity), class:"text-decoration-none btn btn-outline-dark" %>
    <% end %>
    <%= link_to "+ Ajouter", new_activity_path(club: @club), class:"text-decoration-none btn btn-outline-dark" %>
    </div>
  </div>
</div>
