<div class="container-fluid">
    <!-- Row for your content -->
    <div class="row">

      <div class="d-none d-sm-block col-sm-2 col-md-3 ">
          <!-- Content for left side column -->
          <%= session[:zipcode] %>,
          <%= session[:category] %>,
          <%= session[:subcategory] %>,
      </div>

      <!-- Main Container -->
      <div class="col-12 col-sm-8 col-md-6 d-flex flex-column justify-content-center">
        <div class="d-flex" style="height: 40px">
          <div class= 'w-50'>
            <%= render "category_picker" %>
          </div>

          <div class= 'w-50'>
            <%= render "subcategory_picker" %>
          </div>
        </div>


      <div class="align-self-center"id="clubs"></div>
        <%= turbo_frame_tag "pagination", src: clubs_path(format: :turbo_stream), loading: :lazy %>
      </div>

      <div class="d-none d-sm-block col-sm-2 col-md-3 ">
          <!-- Content for right side column -->
      </div>

    </div>
</div>
