<div class="row justify-content-center align-items-center">
<div class="col-8 col-sm-6 shadow p-3">
<h2>Modifier mes informations de compte</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                label: "Nouveau mot de passe",
                hint: "Laissez ce champ vide si vous ne souhaitez pas modifier votre mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Confirmation du nouveau mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name, label: "Prénom (optionel)", required: false, hint: "Ajoutez votre prénom afin de remplacer l'affichage de votre email si vous laissez un avis" %>
    <%= f.input :current_password,
                label: "Mot de passe actuel",
                hint: "Nous avons besoin de votre mot de passe actuel pour confirmer les modifications",
                required: true,
                input_html: { autocomplete: "current-password" } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Mettre à jour", class:" btn btn-dark" %>
  </div>
<% end %>


<div>Vous souhaitez nous quitter? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes vous sûr?", turbo_confirm: "Are you sure?" }, method: :delete, class:"small border" %></div>

<%= link_to "retour", :back, class: "btn btn-outline-dark mt-3" %>
</div>
</div>
