<div class="row justify-content-center align-items-center">
<div class="col-8 col-sm-6 shadow p-3">
<h2>Créer mon compte</h2>
<%- if devise_mapping.omniauthable? && Rails.env.development? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= form_for "Login", url: omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false } do |f| %>
      <%= f.submit "Login", type: "image", src: url_for("/assets/web_light_rd_ctn@1x.png") %>
    <% end %>
  <% end %>
<% end %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                label: 'Mot de passe',
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: 'Confirmation du mot de passe',
                required: true,
                input_html: { autocomplete: "new-password" } %>

    <%= f.input :first_name, label: "Prénom (optionel)", required: false, hint: "Ajoutez votre prénom afin de remplacer l'affichage de votre email si vous laissez un avis" %>
  </div>

  <div class="form-actions d-flex flex-column justify-content-center align-items-center my-3">
    <%= f.button :submit, "Créer", class: "btn btn-dark text-light w-50" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
