<div class=" px-3 d-flex justify-content-around align-items-center" style="height: 60px">
  <%= link_to "#", class: "navbar-brand" do %>
    <span class="bangers-font d-none d-sm-inline">Youclub.</span>
    <span class="bangers-font d-inline d-sm-none">YCLB.</span>
  <% end %>

  <% if controller_name == 'pages' %>
    <p class="text-secondary"><span class="text-success"><%= 200 - Lead.count %></span> places restantes</p>
  <% end %>

  <% if controller_name != 'pages' %>
    <%= form_tag update_zipcode_path, method: :get, class: "d-flex justify-content-center gap-2", style: "max-width: 40%;" do %>
        <%= text_field_tag :zipcode, session[:zipcode] || nil, class: "", style: "border-width: 1.5px; width: 50%; border-radius: 6px; text-align: center; min-width: 50px;" %>
        <%= button_tag(type: 'submit', class: "btn btn-dark border w-50", style: "width: 50%; border: 0px; border-radius: 6px;") do %>
          <i class="fa fa-search"></i>
        <% end %>
    <% end %>

  <div class="d-flex align-items-center">
    <%= link_to '#', data: { bs_toggle: "modal", bs_target: "#locationModal" } do %>
      <i class="fas fa-map-marker mx-3 text-dark"></i>
    <% end %>
    <%= link_to '#', class: "ml-2" do %>
      <i class="fas fa-bars text-dark"></i>
    <% end %>
  </div>
  <% end %>
</div>
