<nav class="px-3 d-flex justify-content-around align-items-center" style="height: 60px; background: linear-gradient(to right, #eeeeee, #dddddd);">
  <%= link_to clubs_path, class: "navbar-brand" do %>
    <span class="bangers-font d-none d-sm-inline" aria-label="Youclub. Home">Youclub.</span>
    <span class="bangers-font d-inline d-sm-none" aria-label="Youclub. Home">Y</span>
  <% end %>

  <% unless controller_name == 'pages' || (controller_name == 'clubs' && action_name == 'new') %>
    <%= form_tag update_zipcode_path, method: :get, class: "d-flex justify-content-center gap-2", style: "max-width: 40%;" do %>
      <%= text_field_tag :zipcode, session[:zipcode] || nil, class: "", style: "border-width: 1.5px; width: 50%; border-radius: 6px; text-align: center; min-width: 50px;", aria_label: "Enter Zipcode" %>
      <%= button_tag(type: 'submit', class: "btn btn-dark border w-50", style: "width: 50%; border: 0px; border-radius: 6px;", aria_label: "Search Clubs by Zipcode") do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>
  <% end %>

  <div class="d-flex align-items-center">
    <% if current_user %>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" aria-label="User Menu">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><h2 class="dropdown-header"><%= current_user.email %></h2></li>
          <% if current_user.avatar_url.present? %>
            <li class="d-flex justify-content-center"><%= image_tag(current_user.avatar_url,  style: "border-radius: 25px; width: 40px;  height: 40px;", alt: "User Avatar") %></li>
          <% end %>
          <li class="d-flex justify-content-center">
            <%= link_to "Modifier mon compte", edit_user_registration_path, class: 'dropdown-item' %>
          </li>
          <% if current_user && current_user.club? %>
            <li class="d-flex justify-content-center">
              <%= link_to "Tableau de bord", pages_dashboard_path, class: 'dropdown-item' %>
            </li>
          <% end %>
          <% if current_user && !current_user.club? %>
            <li class="d-flex justify-content-center">
              <%= link_to "Vous avez un club?", new_club_path, class: 'dropdown-item' %>
            </li>
          <% end %>
          <li>
            <%= button_to "Se déconnecter", destroy_user_session_path, data: { turbo: "false" }, method: :delete, class: 'dropdown-item' %>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Guest Menu">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><%= link_to "Connexion", new_user_session_path, class: 'dropdown-item' %></li>
          <li><%= link_to "Créer mon compte", new_user_registration_path, class: 'dropdown-item' %></li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
