<%
  set_meta_tags(
    noindex: true,
    nofollow: true
  )
%>
<div class="container">
<%= form_with url: admin_dashboard_path, method: :get, local: true do |form| %>
  <%= form.label :actual_zipcode, 'Filter by Zipcode:' %>
  <%= form.text_field :actual_zipcode %>
  <%= form.submit 'Filter' %>
<% end %>
<table>
  <tr class="border border px-2">
    <th class="border px-2" style="width: 100px">Club</th>
    <th class="border px-2" style="width: 100px">Appelé?</th>
    <th class="border px-2" style="width: 100px">Téléphone</th>
    <th class="border px-2" style="width: 100px">Email</th>
    <th class="border px-2" >Commentaire</th>
    <th class="border px-2" style="width: 100px">Arr</th>
    <th class="border px-2" style="width: 100px">Activités</th>
    <th class="border px-2" style="width: 100px">Envoyer identifiants onboarding</th>

  </tr>
  <% @clubs.each do |club| %>
    <tr>
      <td class="border px-2"><%= club.name %></td> <!-- Assuming there is a name attribute -->
      <td class="border px-2">
        <%= form_with url: mark_as_called_path(club), method: :patch, local: true do |form| %>
          <%= form.check_box :called, checked: club.called, onchange: 'this.form.submit();' %>
        <% end %>
      </td>
      <td class="border px-2"><%= club.phone_number %></td>
      <td class="border px-2"><%= club.user.email %></td>

      <td class="border px-2">
        <%= club.comment.presence || 'No notes yet' %></p>
        <%= simple_form_for club, url: update_comment_club_path(club), method: :patch do |f| %>
          <div class="d-flex">
            <%= f.input :comment, label: false %>
            <%= f.button :submit, 'ok', class: "border h-50 btn btn-dark" %>
          </div>
        <% end %>
      </td>
      <td class="border px-2"><%= club.actual_zipcode %></td>
      <td class="border px-2"><%= club.activities.pluck(:name) %></td>
      <td class="border px-2">
        <% if !club.onboarding_mail_sent %>
          <%= form_with url: update_onboarding_mail_sent_club_path(club), method: :patch, local: true do |form| %>
            <%= form.check_box :onboarding_mail_sent, checked: club.onboarding_mail_sent, onchange: 'this.form.submit();' %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>

<script>
  function submitOnboardingMailForm() {
    document.getElementById('onboarding-mail-form').submit();
  }
</script>
