<% sub_group = locals[:sub_group] %>
<div class="d-flex p-3 rounded m-2 flex-column px-2 bg-light-white" style="border-radius: 20px">

  <% if current_user && current_user.owns?(@activity.club.id) %>
    <div class="d-flex justify-content-end gap-2">
     <%= link_to edit_activity_sub_group_path(@activity, sub_group), class: 'btn btn-dark' do %>
        <i class="fas fa-edit"></i>
      <% end %>

      <%= link_to activity_sub_group_path(@activity, sub_group), data: { "turbo-method": :delete, turbo_confirm: "Êtes vous sûr?" }, class: 'btn btn-dark' do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
  <% end %>

  <h3 class="text-dark align-self-center"><%= sub_group.name %> </h3>
  <span class="align-self-center text-secondary"><%= sub_group&.class_type %> </span>
  <small class="align-self-center text-secondary position-relative" style="top: 20px;">À partir de </small>
  <div class="align-self-center mt-0"><span class="gradient-title"><%= sub_group&.min_price_cents/100 %></span>€</div>
   <p class="align-self-center" ><%= sub_group.short_description %></p>
  <div class="d-flex flex-wrap gap-2 justify-content-center mb-2">
    <% sub_group.tarifications&.each do |tarification|  %>
      <div class=" py-0 pill bg-light btn-outline-secondary shadow-sm d-flex align-items-center">
        <span style="font-size: 1.5em;"><%= tarification.amount %></span>
        <small class="text-secondary">€/<%= tarification.recurrence %></small>
      </div>
    <% end %>
  </div>




  <div class="d-flex flex-wrap gap-2 justify-content-center mb-2">
     <% sub_group.schedules.each do |sched| %>
      <div class="d-flex flex-column border p-2 " style="border-radius: 4px">
        <h4><%= sched.day %></h4>
        <div class="d-flex flex-column align-items-center">
          <% sched.time_slots.each do |time_slot| %>
            <div style="font-size: 0.8em">
            <%= DateTime.parse(time_slot.start_time).strftime("%H:%M") %> - <%= DateTime.parse(time_slot.end_time).strftime("%H:%M") %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
