<div class="row justify-content-center">
  <div class="col-md-6 p-3">

    <%= simple_form_for(@activity, method: :put) do |f| %>
      <% if @activity.photos.attached? %>
        <label>Image actuelle</label>
        <div class="form-group position-relative">
          <%= image_tag(cl_image_path(@activity.photos.first.key), class: "img-fluid", style: "height: 300px; width: 200px; border-radius: 10px; object-fit: cover;") %>
        </div>
      <% end %>

      <%= f.input  :photos, as: :file, multiple: false, label: "Chargez une nouvelle image si vous souhaitez remplacer l'actuelle" %>
      <%= f.input :name, label: "Nom de l'activité" %>
      <%= f.input :category, label: "Catégorie" %>
      <%= f.input :address, label: "Adresse" %>
      <%= f.input :actual_zipcode, label: "Code Postal" %>
      <%= f.input :free_trial, as: :boolean, label: "Essai gratuit" %>
      <%# <%= f.input :is_looking_for_volunteer, as: :boolean, label: "Recherche des volontaires" %>
      <%# <%= f.input :subcategories, label: "Sous-catégories" %>
      <%# <%= f.input :recurrence, label: "Récurrence" %>
      <%# <%= f.input :subscription_link, label: "Lien d'abonnement" %>
      <%= f.input :short_description, as: :text, label: "Description courte" %>
      <%= f.input :full_description, as: :text, label: "Description complète" %>
      <%= f.input :phone_number, label: "Numéro de téléphone" %>

      <div class="d-flex justify-content-center w-100">
        <%= f.button :submit, "Enregistrer les modifications", class: "btn btn-dark mt-3 w-50" %>
      </div>
    <% end %>
  </div>
</div>
