<div class="row justify-content-center">
  <div class="col-md-6 p-3 " data-controller="subcategory">
    <%= simple_form_for(@activity) do |f| %>
      <%= f.input  :photos, as: :file, multiple: false, label: "Chargez une image" %>
      <%= f.input :name, label: "Nom de l'activité" %>
      <div class="d-flex align-items-center gap-2 ">
        <div>Catégorie</div>
        <%= f.select :category, @category_options, {}, data: { subcategory_target: "category", action: "change->subcategory#updateSubcategories" }, class:"w-50 p-2" %>
      </div>
      <div class="d-flex flex-column justify-content-center gap-2 my-3 border-top border-bottom py-2">
        <div>Sous-Catégorie</div>
        <%= f.select :subcategories, [], {}, data: { subcategory_target: "subcategories", action: "change->subcategory#toggleOtherSubcategoryInput" }, class:"w-100 p-2" %>
        <div id="other_subcategory" data-subcategory-target="otherSubcategory" class="w-100">
          <%= f.text_field :other_subcategory, placeholder: "Entrez votre sous-catégorie", class: "p-1" %>
        </div>
      </div>
      <%= f.hidden_field :club_id, value: params[:club] %>

      <%= f.input :free_trial, as: :boolean, label: "Essai gratuit" %>
      <%= f.input :short_description, as: :text, label: "Description courte" %>
      <%= f.input :full_description, as: :text, label: "Description complète" %>
      <%= f.input :phone_number, label: "Numéro de téléphone" %>

      <div class="row" data-controller="places" data-action="google-maps-callback@window->places#initMap">
        <div class="d-flex flex-column">
          <div data-places-target="map" style="width: 100%; height: 200px" class="rounded-lg"></div>
          <%# turn off autocomplete to hide suggestions from browser that overwrite google places %>
          <input autocomplete="false" name="hidden" type="text" style="display:none;">
          <%= f.input :address, label: "Adresse", required: true, input_html: { autofocus: !%w[create update].include?(params[:action]), data: { "places-target": "field", action: "keydown->places#keydown" } } %>
          <%= f.input :actual_zipcode, label: "Code postal", required: true, input_html: { readonly: true,  data: { "places-target": "zipcode" } }  %>
          <%= f.input :geo_point, hint: 'Ce champ se remplira tout seul', required: true, input_html: { readonly: true, data: { "places-target": "geoPoint" } }   %>
         </div>
      </div>

      <div class="d-flex justify-content-center w-100">
        <%= f.button :submit, "Enregistrer", class: "btn btn-dark mt-3 w-50" %>
      </div>
    <% end %>
  </div>
</div>
