<div class="container-fluid">
    <!-- Row for your content -->
    <div class="row">

      <div class="d-none d-sm-block col-sm-2 col-md-3 col-xl-3 col-xxl-4  ">
          <!-- Content for left side column -->
      </div>

      <!-- Main Container -->
      <div class="col-12 col-sm-8 col-md-6 col-xl-6 col-xxl-4 ">

        <div class="d-flex flex-column justify-content-start  shadow" style="border-radius: 15px;">

          <%= image_tag "https://source.unsplash.com/random/?horse/300/200", class: "img-fluid w-100", style: "object-fit: cover; aspect-ratio: 1 / 1; overflow: hidden; ", loading: 'lazy' %>
          <h1 class="gradient-title"><%= @activity.name %></h1>

          <div class="d-flex flex-wrap gap-2">
          <% @activity.sub_groups.each do |sub_group| %>
            <div class="btn btn-info pill"><%= sub_group.name %></div>
          <% end %>
          </div>
          <%= @activity.full_description %>


          <% @activity.sub_groups.each do |sub_group| %>
            <%= render "sub_groups/sub_group" ,locals: { sub_group: sub_group } %>
          <% end %>
          <%# Sous groupes cartes (partiale, du modele sous groupe) %>
        </div>


      </div>

      <div class="d-none d-sm-block col-sm-2 col-md-3 col-xl-3 col-xxl-4 ">
          <!-- Content for right side column -->
      </div>

    </div>
</div>
